{% extends 'base.html.twig' %}

{% block title %}Editar Cursos{% endblock %}

{% block body %}
    <h1>Editar Cursos</h1>

    {{ include('cursos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cursos_index') }}">Regresar</a>

    {{ include('cursos/_delete_form.html.twig') }}
{% endblock %}
