
{# templates/cursos/matricular.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Matricular Alumno{% endblock %}

{% block body %}
    <h1>Matricular Alumno en un curso</h1>
    {{ form_start(form) }}
    {{ form_row(form.alumnos) }}
    {{ form_row(form.save, {'label': 'Matricular'}) }}
    {{ form_end(form) }}
{% endblock %}
