{% extends 'base.html.twig' %}

{% block title %}Crear nuevos Alumnos{% endblock %}

{% block body %}
    <h1>Crear nuevos Alumnos</h1>

    {{ include('alumnos/_form.html.twig') }}

    <a href="{{ path('app_alumnos_index') }}">Regresar</a>
{% endblock %}
